body{
	font-family: cursive;
}
h1{
	color: black;
	text-align: center;
}
h3{
	color:black;
	font-family: comic sans ms;
	font-size: 18px;
}
p{
	color: red;
	font-family: comic sans ms;
	font-size: 17px;
}
img{
	margin:10px;
}
.text
{
	text-align: center;
}
.whole
{
  width:99.85%;
  height:auto;
}
.head
{
  float:left;
}
.header
{
  background-image: linear-gradient(#B30904,#FB1F2A);
  color: white;
  
}
#logo
{
  float: left;
  padding: 2px;
}
#logo
{
  font-family: forte;
  font-size: 40px;
  line-height:50px;
}
.menu
{
  width:100%;
  height: auto;
  padding: 5px;
  text-align:right;
}
ul li
{
  display: inline;
  list-style: none;
  padding: 30px 15px;
}
a
{
  text-decoration: none;
  color: white;
  font-family: cursive;
}
ul li a
{
  font-size:25px;
}
ul li a:hover
{
  color: #B30904;
  background-color: white;

}
.selection

{
  width:100%;
  height: auto;
  background-image: linear-gradient(#B30904,#FB1F2A);
  color: white;
  padding: 8px 2px;
}
footer
{
  width:100%;
  height:auto;
  background-image: linear-gradient(#B30904,#FB1F2A);
  color:white;
  float: left;
  padding:3px;
}